AddDefaultCharset utf-8

# Это модуль Апача, который позволяет налету переписывать url адрес..грубо говоря он его подменяет
RewriteEngine On
# RewriteBase /mvc/cabinet/

# Правила в какой ситуации перенаправлять, а в какой нет
# Эта запись означает, что если мы пишем url адрес, по которому доступная реальная директория, тогда пропустить все и не делать никаких преобразований, т.е. ни директория и ни файл
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Тогда выполнить следующие правила..все запросы от пользователя будут перенаправляться на файл index.php..т.е. если файл или папка есть, то они выволняются, а если нет, то идет запрос на index.php
# Это нужно нам для корректного перехода между страницами, которых на сайте физически нет. В действительности все запросы от пользователя обрабатывает index.php. Такой подход называется FrontController
RewriteRule . index.php
# RewriteRule ^(.*)$ index.php


